<h1>Books#show</h1>
<div>
  <%= image_tag @book.imagelink %> <%= @book.title %> 
  <br/> 
  <span><%= "出版社：#{@book.publisher}" %></span>
  <span><%= "作者：#{@book.author}" %></span>
  <span><%= "ISBN：#{@book.ISBN13}" %></span>
  <span><%= "attr：#{@book.attr.to_s}" %></span>
</div>
